In [2]:
a=10
if a==10 :
    print('yes')

yes

In [4]:
a=10
if a>=5:
    print('yes')

yes

In [6]:
a=10
if a>=5:
    pass

In [8]:
a=10
if a<5:
    print('yes')

In [10]:
a=1
if a!=11:
    print('a is not 11')

a is not 11

In [12]:
a=1
if a!=11:
    print('a is not 11')
else: print('a is 11')

a is not 11

In [14]:
a=38
if a!=38:
    print('a is not 38')
else: print('a is 38')

a is 38

In [16]:
a=10
if a==12:
    print('a is 12')
elif a==8:
    print('a is 8')
else: print('a is between 8 & 12')

a is between 8 & 12

In [18]:
a='Nihar'
if a=='Nihar':
    print("it's a name")
elif a=='Vaghela':
    print("It's a surname")
else: print("it's something else")

it's a name

In [20]:
price=992
if price>1000:
    print('Drop the option')
elif price<600:
    print('definitely pick this option')

In [22]:
price>1000

False

In [24]:
price<1000

True

In [26]:
price==1000

False

In [28]:
price=992
if price>=1200:
    print('Drop the option')
elif price<=600:
    print('definitely pick this option')
elif price==992:
    print('breakeven option')
elif price>600 and price<992:
    print('seems like a good option')
elif price>992 and price<1200:
    print('risky option')
else: print('Analyze this option more')

breakeven option

In [30]:
a=[1,2,3,4,5,6,7]
2 in a

True

In [32]:
if 9 in a:
    print('yes')
else: print('No')

No

In [34]:
if 1 in a:
    print('Yes')
elif 2 in a:
    print('Yes')
elif 3 in a:
    print('Yes')

Yes

In [38]:
if 10 in a:
    print('101')
elif 2 in a:
    print('2')
elif 3 in a:
    print('3')

2

In [40]:
if 1 in a:
    print('1')
if 2 in a:
    print('2')
if 3 in a:
    print('3')

1
2
3

In [3]:
Name=input()

 Nihar

In [5]:
Name

'Nihar'

In [25]:
type(Name)

str

In [1]:
price=int(input())
if price<=5:
    print('eat out')
elif price>=10:
    print('Avoid it')
else:
    print('think about it')

 13

Avoid it

In [7]:
price=int(input())
if price<=5:
    print('eat out')
elif price>=10:
    print('Avoid it')
else:
    if price>5 and price<7:
        print('Eat at low frequency')
    if price>=7 and price<10:
        print ('find if you can get it cheaper, or else eat at home')

 8

find if you can get it cheaper, or else eat at home

In [9]:
marks=int(input())
if marks>=95:
    print('Admission possibel in Elite IIM')
    if marks>=95 and marks<98:
        print('Admission in new IIM')
    elif marks>=98 and marks<99:
        print('Admission in IIM bangalore & calcutta')
    else :
        print('Admission in IIM Ahmedabad')
elif marks<95 and marks>80:
    print('Admission in good to average colleges')
    if marks>=90 and marks<95:
        print('Admission in baby IIM')
    elif marks>80 and marks<90:
        print('Admission in good enough colleges')
    else:
        print('Admission in tier 2 or tier 3 colleges')
else: print('Admission not possible')

 97

Admission possibel in Elite IIM
Admission in new IIM

In [29]:
value=float(input("enter a number"))
if value>=0:
    if value==0:
        print('value is zero')
    else: 
        print('value is positive')
else: 
    print('value is negative')

enter a number -10

value is negative

In [17]:
a=11
if a==10 or a>10:
    print('A is meaningful')
else: print('A is not meaningful')

A is meaningful

In [19]:
a=int(input())
if a>10 and a<100:
    print('A is meaningful and bounded')
    if a>10 and a<60:
        print('A is minorly bounded')
    elif a>=60 and a<100:
        print('A is majorly bounded')
elif a>100:
    print('A is an outlier')
else: print('A is not meaningful')

 66

A is meaningful and bounded
A is majorly bounded

In [21]:
a=1
b=2
c=3
d=4
if a==5 and b==2 and c==3 and d==4:
    print('It works')

In [23]:
a=1
b=2
c=3
d=4
if a==5 or b==2 and c==3 and d==4:
    print('It works')

It works

In [31]:
a={'Name':'Nihar','Middlename':'Rajeshkumar','Lastname':'Vaghela'}

In [33]:
a['Name']

'Nihar'

In [35]:
if a['Name']=='Nihar' and a['Middlename']=='Rajeshkumar' and a['Lastname']=='Vaghela':
    print('Name is fully written')
    print(a.values())
else: print('Info needs to be verified')

Name is fully written
dict_values(['Nihar', 'Rajeshkumar', 'Vaghela'])

In [3]:
A=[1,2,3,4,True,23.4,'Nihar',100]

In [53]:
A[3]

4

In [55]:
for i in A:
    print(i)

1
2
3
4
True
23.4
Nihar
100

In [57]:
for i in A:
    print(i+1)

2
3
4
5
2
24.4

TypeError: can only concatenate str (not "int") to str

In [59]:
for i in A:
    if type(i)== int or type(i)== float:
        print(i+1)
    elif type(i)==str:
        print(i + str(1))

2
3
4
5
24.4
Nihar1
101

In [5]:
A1=[]
for i in A:
    if type(i)==int or type(i)==float:
        A1.append(i)

In [7]:
A1

[1, 2, 3, 4, 23.4, 100]